body {

}

p {
	font-size: 15px;
}

ol {
	counter-reset: item;
	font-size: 15px;
}

li {
	display: block;
}

li:before {
	content: counters(item, ".") " ";
	counter-increment: item;
}


.center-text {
	text-align: center;
}

.left-text {
	text-align: left;
}

.km {
	background-color: lightblue;
}

.spd {
	background-color: lightgreen;
}

.pro-tip {
	background-color: lightgrey;
}

.exercise-list {
	padding: 3px;
}